
chicago_2019.csv
weather_hourly_chicago.csv
.ipynb_checkpoints/Step 1 - Weather Data-checkpoint.ipynb
.ipynb_checkpoints/Step 1.2 and 2 without geographical demand-checkpoint.ipynb
.ipynb_checkpoints/step3_clustering-checkpoint.ipynb
.ipynb_checkpoints/step4_predictive_analytics-checkpoint.ipynb
crossvalidation error .png
reihenfolge_fehler.jpg
processed_dataframe.csv
